
h1,h2,h3,h4,h5,p{
    font-family: Satisfy, cursive;
    font-weight:normal;
    color: rgb(116, 40, 5);
    border-radius: 0.35em;

}

  h5{
    
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: rgba(53, 36, 82, 0.9);
    font-family: Satisfy, cursive;
    font-weight:normal;
    color: rgb(116, 40, 5);
    border-radius: 0.35em;
    text-shadow: 0 1px 0 #ccc,
                    0 2px 0 #c9c9c9,
                    0 3px 0 #bbb,
                    0 4px 0 #b9b9b9,
                    0 5px 0 #aaa,
                    0 6px 1px rgba(0,0,0,.1),
                    0 0 5px rgba(0,0,0,.1),
                    0 1px 3px rgba(0,0,0,.3),
                    0 3px 5px rgba(0,0,0,.2),
                    0 5px 10px rgba(0,0,0,.25),
                    0 10px 10px rgba(0,0,0,.2),
                    0 20px 20px rgba(0,0,0,.15);

                    
}

  h1 {
  font-size: 30px;
  padding: 0px 15px 0px 0px;
  animation-name: slide;
  font-family: Satisfy, cursive;
  font-weight:normal;
  color: rgb(116, 40, 5);
  border-radius: 0.35em;
  text-shadow: 0 1px 0 #ccc,
                  0 2px 0 #c9c9c9,
                  0 3px 0 #bbb,
                  0 4px 0 #b9b9b9,
                  0 5px 0 #aaa,
                  0 6px 1px rgba(0,0,0,.1),
                  0 0 5px rgba(0,0,0,.1),
                  0 1px 3px rgba(0,0,0,.3),
                  0 3px 5px rgba(0,0,0,.2),
                  0 5px 10px rgba(0,0,0,.25),
                  0 10px 10px rgba(0,0,0,.2),
                  0 20px 20px rgba(0,0,0,.15);
  /* @keyframes duration | timing-function | delay | 
  iteration-count | direction | fill-mode | play-state | name */

}
  h6{
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
    font-weight: 600;
  }

  p{
    font-size: 15px;
    color: rgb(75, 75, 77);
    font-family: Satisfy, cursive;
  }

.round{
  border-radius: 20px;
}

.text-light{

  color: #666;
  font-family: Satisfy, cursive;
  font-size: 15px;
}

.button{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 95%;
    max-width: 420px;
    padding: 10px 15px 15px;;
    margin: 10px auto auto;
    background: rgb(133, 4, 4);
    border-radius: 0.25em;
    border: 1px solid rgba(92, 87, 87, 0.3);
}
.btn-container .btn {
  display: inline-block;
  cursor: pointer;
  font-size: 0.85em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.9);
  padding: 0.75em 1.5em;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 0.35em;
  transition: .4s ease-out;
  outline: none;
}


.button:hover{
  background-color: #111;
}

a{
  color: #333;
}

a:hover{
  color: rgb(223, 32, 14);
}

.image{
  display: inline-block;
  max-width: 100%;
  margin-bottom: 1rem;
  border: solid 4px #fefefe;
  border-radius: 0;
  box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.2);
  line-height: 0;
}

.portfolio-me{
  padding: 20px;
  background: #121213;
  color: #fff;
  box-shadow: none !important;
}

  .portfolio-me p{
    font-size: 14px;
    color: #999;
  }

  .portfolio-me a{
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: #555;
    font-size: 13px;
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
  }

  .portfolio-me a:hover{
    color: #999;
  }

.portfolio-breadcrumb{
  margin: 0;
  padding: 20px;
  border-bottom: 1px solid #eaeaea;
}

 .portfolio-breadcrumb a{
   font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
   font-weight: 600;
   font-size: 13px;
   letter-spacing: 2.5px;
   -webkit-text-transform: uppercase;
   text-transform: uppercase;
 }

.portfolio-intro{
  margin: 0;
  padding: 40px 50px 30px;
}

.portfolio-intro p{
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 40px;
}

.portfolio-index{
  margin: 0;
  padding: 10px 50px;
}

  .portfolio-index .thumbnail{
    margin-bottom: 5px;
  }

  .portfolio-index a{
    color: #222;
  }

  .portfolio-index .cell{
    margin-bottom: 15px;
  }

    .portfolio-index .cell h5{
      letter-spacing: 1px;
    }

.portfolio-meta{
  padding-left: 20px;
}

  .portfolio-meta .button{
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 95%;
    max-width: 420px;
    padding: 10px 15px 15px;;
    margin: 10px auto auto;
    background-image: linear-gradient(rgb(252, 244, 244), transparent 50%),
    border-radius: 0.25em;
    border: 1px solid rgba(100, 100, 100, 0.3);
  }

.portfolio-project p{
  border: none;
}

.portfolio-project li{
  font-size: 13px;
  color: rgb(104, 11, 11);
}

.portfolio-bio{
    line-height: 25px;
}

.grid-container {
  background-color: #e2d2d7d0;
}
.box {
  
  /* Apply a fluid width of 90% and a height of 300px. 
  The width of .box should be no wider than 600px. */  
  width: 90%;
  height: 300px;
  max-width: 600px;

  /* Add 20 pixels of padding on all four sides. */
  padding: 20px;
  
  /* Apply a 2px solid border to each side. */
  border: 2px solid #8292b1;
  
  /* Use margins to center .box on the page. */
  margin: auto;
  
  /* Prevent the contents of .box from overflowing. */
  overflow-y: scroll;
  
  /* Force border-width and padding values into the total width and height of .box */
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  margin-bottom: 1rem;
  border: solid 4px#e2d2d7d0;
  border-radius: 0;
  box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
 
  font-weight: bold;
  font-family: sans-serif;
  text-transform: uppercase;
  position: relative;
  user-select: none;
  content: attr(data-text);
  filter: blur(0.02em);
  background: linear-gradient(45deg, rgb(240, 232, 232), rgb(238, 237, 234), rgb(241, 179, 218), rgb(238, 218, 235), rgb(240, 178, 178));
  mix-blend-mode: multiply;
}

.group::after {
  content: '';
  display: table;
  clear: both;
}
